ORACLE_SID=XE
ORACLE_PDB=XEPDB1
ORACLE_PWD=Oracle18
APEX_ADMIN_EMAIL=myemail@domain.com
APEX_ADMIN_PWD=Oracle__18
APEX_PUBLIC_USER_PWD=Oracle18_1
APEX_LISTENER_PWD=Oracle18_2
APEX_REST_PUBLIC_USER_PWD=Oracle18_3
ORDS_PUBLIC_USER_PWD=Oracle18_4
INSTALL_FILE_APEX=apex_20.1.zip
INSTALL_FILE_ORDS=ords-19.4.0.352.1226.zip
INSTALL_FILE_JAVA=jdk-8u251-linux-x64.tar.gz
DOCKER_ORDS_PORT=50080
DOCKER_EM_PORT=55500
DOCKER_DB_PORT=51521
DB_VERSION=18.4.0
DB_EDITION=xe
DOCKER_NETWORK_NAME=das_network
ALLOW_DB_PATCHING=N
OML4R_SUPPORT=N
REST_ENABLED_SQL=Y
RTU_ENABLED=N
SQLDEVWEB=Y