ORACLE_SID=ORCL
ORACLE_PDB=PDB01
ORACLE_PWD=Oracle19
APEX_ADMIN_EMAIL=myemail@domain.com
APEX_ADMIN_PWD=Oracle__19
APEX_PUBLIC_USER_PWD=Oracle19_1
APEX_LISTENER_PWD=Oracle19_2
APEX_REST_PUBLIC_USER_PWD=Oracle19_3
ORDS_PUBLIC_USER_PWD=Oracle19_4
INSTALL_FILE_APEX=apex_21.1.zip
INSTALL_FILE_ORDS=ords-20.4.3.050.1904.zip
INSTALL_FILE_JAVA=jdk-8u291-linux-x64.tar.gz
DOCKER_ORDS_PORT=50080
DOCKER_EM_PORT=55500
DOCKER_DB_PORT=51521
DB_VERSION=19.3.0
DB_EDITION=ee
DOCKER_NETWORK_NAME=das_network
ALLOW_DB_PATCHING=N
OML4R_SUPPORT=N
REST_ENABLED_SQL=Y
RTU_ENABLED=N
SQLDEVWEB=Y
DATABASEAPI=Y