# Description
# ===========
# * Oracle Database 19c Enterprise Edition
# * Database features:
#     * Patching allowed? Yes
#     * OML4R supported? Yes
# * ORDS features:
#     * REST-enabled? Yes
#     * SQL Developer Web? No
#     * Database API? No
# * Java 8 server runtime engine downloaded from Oracle

ORACLE_SID=ORCL
ORACLE_PDB=PDB01
ORACLE_PWD=Oracle19
APEX_ADMIN_EMAIL=myemail@domain.com
APEX_ADMIN_PWD=Oracle__19
APEX_PUBLIC_USER_PWD=Oracle19_1
APEX_LISTENER_PWD=Oracle19_2
APEX_REST_PUBLIC_USER_PWD=Oracle19_3
ORDS_PUBLIC_USER_PWD=Oracle19_4
INSTALL_FILE_APEX=apex_21.2.zip
INSTALL_FILE_ORDS=ords-21.3.1.301.2050.zip
INSTALL_FILE_JAVA=server-jre-8u301-linux-x64.tar.gz
DOCKER_ORDS_PORT=8080
DOCKER_EM_PORT=5500
DOCKER_DB_PORT=1521
DB_VERSION=19.3.0
DB_EDITION=ee
DOCKER_NETWORK_NAME=das_network
ALLOW_DB_PATCHING=Y
OML4R_SUPPORT=Y
REST_ENABLED_SQL=Y
RTU_ENABLED=N
SQLDEVWEB=N
DATABASEAPI=N
FILES_DIR=/software/oracle