# Description
# ===========
# * Oracle Database 21c Express Edition
# * Database features:
#     * Patching allowed? No
#     * OML4R supported? No
# * ORDS features:
#     * REST-enabled? Yes
#     * SQL Developer Web? Yes
#     * Database API? Yes
# * Java installed using OpenJDK version 11 binaries available through the Oracle Yum repositories.

ORACLE_SID=XE
ORACLE_PDB=XEPDB1
ORACLE_PWD=Oracle21
APEX_ADMIN_EMAIL=myemail@domain.com
APEX_ADMIN_PWD=Oracle__21
APEX_PUBLIC_USER_PWD=Oracle21_1
APEX_LISTENER_PWD=Oracle21_2
APEX_REST_PUBLIC_USER_PWD=Oracle21_3
ORDS_PUBLIC_USER_PWD=Oracle21_4
INSTALL_FILE_APEX=apex_21.2.zip
INSTALL_FILE_ORDS=ords-21.4.1.025.0904.zip
INSTALL_FILE_JAVA=openjdk11
DOCKER_ORDS_PORT=50080
DOCKER_EM_PORT=55500
DOCKER_DB_PORT=51521
DB_VERSION=18.4.0
DB_EDITION=xe
DOCKER_NETWORK_NAME=das_network
ALLOW_DB_PATCHING=N
OML4R_SUPPORT=N
REST_ENABLED_SQL=Y
RTU_ENABLED=N
SQLDEVWEB=Y
DATABASEAPI=Y
XE_USE_LOCAL_COPY=N